@import "tailwindcss";

@layer base {
  body {
    background-color: #0f0520;
    color: white;
    -webkit-font-smoothing: antialiased;
  }

  ::-webkit-scrollbar { width: 6px; height: 6px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #4c1d95; border-radius: 99px; }

  option { background-color: #1e0a3c; color: white; }
}
